<html>
<head>
<title>
</title>
<link rel="stylesheet" href="./css/show.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<style type="text/css" media="screen">
	.mmn {
	color: #333333;
	font-family: arial;
	}
.main {

	margin-left: 10px;
}
.headd {
	text-align: center;
}
.hho {

	color: #888888;
	text-decoration: none;
	font-size: 20px;
}
.title {
	font-size: 40px
}
p {
	color: grey;
}
.below {
	margin: 10px;
	display: flex;
}
.del {
	margin: 5px;
}
.edit {
	margin-bottom:  25px;
	margin-top: 5px;
}
</style>
</head>

<body>
	<div class="main">
		<div class="headd">
			<a class="hho" href="\">Home</a>
		</div>
     	<div class="mmn">
     		<div class="title"><%=imgs.imgName %></div>
     		<p> <%=imgs.imgDetails %> </p>
 		</div>
     	<img src="<%=imgs.imgURL%>">
    
	
     	<div class="below">
     		<a href="/<%=imgs.id%>/edit" class="edit btn btn-success">Edit</a>
	    	<div class="del">
	    		<form action="/<%=imgs.id%>/delete?_method=DELETE" method="POST">
	    		<button type="submit" class="btn btn-danger">Delete</button>
	    		</form>
	    	</div>
     	</div>
	</div>
</body>
</html>

